{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
	{{pagination}}
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
<div class="post-list">
	<div class="post-column">
		{{#foreach posts}}
			{{#if @odd}}
				{{> "post"}}
			{{/if}}
		{{/foreach}}
	</div>

	<div class="post-column">
		{{#foreach posts}}
			{{#if @even}}
				{{> "post"}}
			{{/if}}
		{{/foreach}}
	</div>
</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
