@font-face {
	font-family: "casper-icons";
	src:url("./casper-icons.eot?v=1");
	src:url("./casper-icons.eot?v=1#iefix") format("embedded-opentype"),
	url("./casper-icons.woff?v=1") format("woff"),
	url("./casper-icons.ttf?v=1") format("truetype"),
	url("./casper-icons.svg?v=1#icons") format("svg");
	font-weight: normal;
	font-style: normal;
}
